// Toolbar group rows
.au-c-toolbar__group--row {
  display: block;
  width: 100%;

  & + & {
    margin-top: $au-unit;
  }
}

.au-c-toolbar_space-between{
  display: flex;
  justify-content: space-between;
}

.au-word-wrap {
  word-wrap: break-word;
}


/* fix the table for the sparql querier */

table.dataTable tbody td,
table.dataTable tbody th {
  min-width: 2rem;
  word-break: break-all;
}

.yasgui .controlbar {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

.au-c-data-table__table td:first-child {
  word-break: break-word;
}

// Fix min-height to show prev/next buttons on all screens

.au-c-main-container {
  min-height: calc(100vh - 15rem);
}

/* Styles for status-filter */
.status-filter {
  @extend .au-c-main-header__title--link;
  @extend .au-c-main-header__title;
  max-width: initial;
  margin-left: 0;
  padding-left: 2.4rem;
  overflow: visible;
  * {
    cursor: pointer;
  }
  .au-c-dropdown-toggle {
    text-decoration-color: var(--au-gray-300);
    text-underline-offset: 0.3ex;
  }
  .au-c-dropdown__toggle {
    cursor: pointer;
    color: var(--au-gray-900);
    &:hover, &:focus, &:focus-within {
      color: inherit;
    }
  }
  .au-c-dropdown__menu {
    &.is-visible {
      flex-wrap: wrap;
      flex-direction: row;
      width: 40vw;
      justify-content: space-between;
      top: 5rem;
    }
  }
}