// Toolbar group rows
.au-c-toolbar__group--row {
  display: block;
  width: 100%;

  & + & {
    margin-top: $au-unit;
  }
}

/* fix the table for the sparql querier */

table.dataTable tbody td,
table.dataTable tbody th {
  min-width: 2rem;
  word-break: break-all;
}

.yasgui .controlbar {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  @extend .au-u-hidden;
}

// Fix min-height to show prev/next buttons on all screens

.au-c-main-container {
  min-height: calc(100vh - 15rem);
}

.ember-basic-dropdown {
  width: 100%;
}

.full-height {
  height: 100%;
}
