<div class="au-c-sidebar">
  <div class="au-c-sidebar__content">
    <nav>
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="jobs" @query={{hash status=undefined page=0}}>
            <AuIcon @icon="documents" @alignment="left" />
            Harvesting jobs
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="scheduled-jobs">
            <AuIcon @icon="calendar" @alignment="left" />
            Scheduled jobs
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="sparql">
            <AuIcon @icon="search" @alignment="left" />
            Sparql
          </AuNavigationLink>
        </li>
      </ul>
    </nav>
  </div>
</div>
