{{page-title "New Job"}}
<AuModal
  @modalOpen={{true}}
  @closeModal={{this.closeModal}}
  @size="default">
  <:title>Create new job</:title>
  <:body>
    <p>Modal content</p>
  </:body>
  <:footer>
    <AuButton>Action</AuButton>
  </:footer>
</AuModal>
