<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <h1 class="au-u-h1 au-u-margin-bottom">Create Task</h1>
    </div>
    
  </div>
  <div class="au-o-grid__item au-o-layout--small">
    <div class="au-c-form">
        <p>
          <AuLabel for="task-url" >
            Url
          </AuLabel>
          <AuInput  id="task-url" @width="block"/ />
        </p>
        <p>
          <AuLabel for="task-creator">
            Creator
          </AuLabel>
          <AuInput  id="task-creator" @width="block"/ @value={{this.creator}}/>
        </p>
        <p>
          <AuLabel for="task-status">
            Status
          </AuLabel>
          <AuInput  id="task-status" @width="block"/ @value={{this.status}}/>
        </p>
      </div>

        <AuButton {{on 'click' this.createTask}}>Create Task</AuButton>
    </div>
</div>