<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <h1 class="au-u-h1 au-u-margin-bottom">Create Task</h1>
    </div>
    
  </div>
  <div class="au-o-grid__item">
      <form action="">
        <label for="task-url"></label>
        <input type="text" id="task-url">
        <label for="task-creator"></label>
        <input type="text" id="task-creator">
        <label for="task-status"></label>
        <input type="text" id="task-status">
        <input type="submit" value="Create">
      </form>
    </div>
</div>