<AuButtonGroup class="au-o-box" @inline={{true}}>
  <LinkTo @route="scheduled-jobs.scheduled-task.input-containers-files">
    <AuButton>
      List with input files
    </AuButton>
  </LinkTo>
  <LinkTo @route="scheduled-jobs.scheduled-task.input-containers-graph" class="is-active">
    <AuButton @skin="secondary">
     List with input graphs
    </AuButton>
  </LinkTo>
  <LinkTo @route="scheduled-jobs.scheduled-task.input-containers-harvesting-collections">
    <AuButton>
     List with input remote data objects
    </AuButton>
  </LinkTo>
</AuButtonGroup>

<AuHeading @skin="3" class="au-o-box">Graphs input list</AuHeading>

<AuDataTable
  @content={{this.model}}
  @noDataMessage="No graphs found"
  as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-u-visible-small-up">uri</th>
    </c.header>
    <c.body as |row|>
      <td class="au-u-visible-small-up">
        {{row.hasGraph}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>

{{outlet}}
