<AuMainContainer as |m|>
  <m.content @scroll={{true}}>
    <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
    </AuContentHeader>

    <section class="au-o-region-large">
      <div class="au-o-layout">
        <div class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
            <AuContent @skin="large">
              <h1>Harvester</h1>
              <MuLogin />
            </AuContent>
          </div>
        </div>
      </div>
    </section>
  </m.content>
</AuMainContainer>
