<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">SPARQL endpoint</AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<AuMainContainer as |m|>
  <m.sidebar>
    <SidebarMenu />
  </m.sidebar>
  <m.content @scroll={{true}}>
    <div {{yasgui}}></div>
  </m.content>
</AuMainContainer>
